<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{product.diagonal}}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{product.display_type}}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{product.resolution}}</td>
    </tr>
    <tr>
      <td>Объем батареи</td>
      <td>{{product.accum_volume}}</td>
    </tr>
    <tr>
      <td>Оперативная память</td>
      <td>{{product.ram}}</td>
    </tr>

    <tr>
      <td>Камера</td>
      <td>{{product.main_cam_mp}}</td>
    </tr>
    <tr>
      <td>Фронтальная камера</td>
      <td>{{product.frontal_camp_mp}}</td>
    </tr>

  </tbody>
</table>
</body>
</html>

<!--    diagonal = models.CharField(max_length=255, verbose_name='Диагональ')-->
<!--    display_type = models.CharField(max_length=255, verbose_name='Тип дисплея')-->
<!--    resolution = models.CharField(max_length=255, verbose_name='Разрешение экрана')-->
<!--    accum_volume = models.CharField(max_length=255, verbose_name='Объем батерии')-->
<!--    ram = models.CharField(max_length=255, verbose_name='Оперативка')-->
<!--    sd = models.BooleanField(default=True)-->
<!--    sd_volume_max = models.CharField(max_length=255, verbose_name='Максимальный объем памяти')-->
<!--    main_cam_mp = models.CharField(max_length=255, verbose_name='Главная камера')-->
<!--    frontal_camp_mp = models.CharField(max_length=255,verbose_name='Фронатльная камера')-->
